@mixin button-styling($text-color, $background-color, $text-color-hover, $background-color-hover) {
  color: $text-color;
  background-color: $background-color;
  border: none;
  text-decoration: none;

  &:hover {
    color: $text-color-hover;
    background-color: $background-color-hover;
    cursor: pointer;
  }
}