$color-black: black;
$color-black-bg: rgb(0, 0, 0, 0.1);
$color-white: white;
$color-white-bg: rgb(255, 255, 255, 0.7);
$color-green: #97c7c1;
$color-green-dark: #699ea9;
$color-pink: #f4aeb5;
$color-pink-bg: rgb(244, 174, 181, 0.5);
$color-none: transparent;

@mixin button-styling($text-color, $background-color, $text-color-hover, $background-color-hover) {
  color: $text-color;
  background-color: $background-color;
  border: none;
  text-decoration: none;

  &:hover {
    color: $text-color-hover;
    background-color: $background-color-hover;
    cursor: pointer;
  }
}