$color-black: black;
$color-black-bg: rgb(0, 0, 0, 0.1);
$color-white: white;
$color-green: #97c7c1;
$color-green-bg: rgb(151, 199, 193, 0.25);
$color-green-dark: #699ea9;
$color-pink: #f4aeb5;
$color-pink-bg: rgb(244, 174, 181, 0.5);
$color-none: transparent;