@import "colors";

@font-face {
  font-family: SundayHotdog;
  src: url("../media/SundayHotdog.ttf");
}

* {
  transition: all 0.5s ease;
}

html {
  scroll-padding-top: 175px;
  scroll-behavior: smooth;
}

// HEADER
header {
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  width: 100vw;
  height: 150px;
  z-index: 10;

  #header-color {
    height: 50px;
  }

  #navigation {
    height: 100px;
    display: flex;
    align-items: center;

    #title {
      flex: 1;
      margin-left: 10%;

      h1 {
        font-size: 30px;
        margin: 0;
      }
    }

    #pages {
      flex: 1;

      a {
        font-size: 20px;
        text-decoration: none;
        padding-left: 20px;
      }

      @media (max-width: 810px) {
        display: none;
      }
    }

    #pages-mobile {
      flex: 1;

      button {
        font-size: 30px;
        @include button-styling($color-black, $color-none, $color-black, $color-none);
      }

      #nav-open {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $color-white;

        button {
          position: absolute;
          top: 0;
          right: 0;
          margin: 25px;
        }

        a {
          font-size: 20px;
          display: block;
          padding: 10px 20px;
          @include button-styling($color-black, $color-none, $color-white, $color-green);
        }
      }

      @media (min-width: 811px) {
        display: none;
      }
    }
  }
}

.whiteheader {
  #header-color {
    background-color: $color-green;
  }

  #navigation {
    background-color: $color-white;
    box-shadow: 0 8px 10px $color-black-bg;

    #pages,
    #pages-mobile {
      text-align: right;
      margin-right: 10%;

      a {
        color: $color-black;
      }

      #nav-closed {
        @include button-styling($color-black, $color-none, $color-black, $color-none);
      }
    }
  }
}

.transparentheader {
  #header-color {
    background-color: $color-none;
  }

  #navigation {
    background-color: transparent;
    box-shadow: unset;

    #title {
      display: none;
    }

    #pages,
    #pages-mobile {
      text-align: center;
      margin: 0;

      a {
        color: $color-white;
        padding: 0 10px;
      }

      #nav-closed {
        @include button-styling($color-white, $color-none, $color-white, $color-none);
      }
    }
  }
}

#headerbig {
  width: 100vw;
  height: 100vh;

  .video {
    width: 100vw;
    height: 100%;

    video {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}

.sticktotop {
  position: absolute;
  top: 0;
}

// BODY
body {
  margin: 0;
  padding: 0;

  >div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

h1,
button,
a {
  font-family: 'SundayHotdog';
}

h2,
p {
  font-family: 'Nunito', sans-serif;
}

p,
button,
a {
  font-size: 16px;
}

.textlink {
  font-family: 'Nunito', sans-serif;
  text-decoration: underline;
  color: $color-green-dark;
}

main {
  flex: 1;

  .margin10 {
    margin: 0 10%;
  }
}

#introduction {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 25vh;

  .empty {
    flex: 1;
  }

  .intro-image {
    flex: 2;

    img {
      height: 50vh;
      border-radius: 50%;
      border-style: solid;
      border-color: $color-white;
      border-width: 10px;
      margin: -10px;
    }
  }

  .intro-text {
    flex: 3;
    color: $color-white;
    padding-left: 5vw;
    align-self: center;

    h1,
    h2 {
      margin: 0;
    }

    h1 {
      font-size: 96px;
    }
  }

  @media (max-width:1125px) {
    height: 40vh;
    top: 30vh;

    .intro-image {
      img {
        height: 40vh;
      }
    }

    .intro-text {
      h1 {
        font-size: 80px;
      }
    }
  }

  @media (max-width:915px) {
    height: 30vh;
    top: 35vh;

    .intro-image {
      img {
        height: 30vh;
      }
    }

    .intro-text {
      h1 {
        font-size: 70px;
      }
    }
  }

  @media (max-width: 810px) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    top: 0;

    .empty {
      flex: 3;
    }

    .intro-image {
      flex: 1;
      align-self: center;

      img {
        height: auto;
        width: 50vw;
      }
    }

    .intro-text {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      text-align: center;

      h1 {
        font-size: 50px;
      }
    }
  }

  @media (max-width: 500px) {
    .intro-image {
      img {
        width: 60vw;
        border-width: 7px;
        margin: -7px;
      }
    }

    .intro-text {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}

.chev-down {
  display: block;
  position: absolute;
  top: 95vh;
  left: 48vw;
  height: 3vh;
  width: 4vw;
  text-align: center;

  a {
    @include button-styling($color-white, $color-none, $color-white, $color-none);
  }

  @media (max-width: 810px) {
    display: none;
  }
}

.about {
  margin: 5% 0;

  .row {
    display: flex;
  }

  .info {
    flex: 3;
    margin-right: 5%;
  }

  .profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-pink-bg;
    border-radius: 40px;
    padding: 2%;

    .profile-name {
      flex: 1;
      padding: 2%;
      text-align: center;

      h1 {
        margin: 0;
      }
    }

    .profile-pic {
      flex: 1;
      padding: 2%;

      img {
        background-color: $color-white;
        padding: 2%;
        width: 96%;
      }
    }

    .profile-text {
      flex: 1;
      padding: 2%;

      p {
        margin: 0;
      }
    }
  }
}

.projects {
  margin: 5% 0;
  height: 250px;
  
  .bg-color {
    background-color: $color-green-bg;
    position: absolute;
    left: 0;
    z-index: -1;
    height: inherit;
    width: 100vw;
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 2% 0 1%;
  }

  h2 {
    text-align: center;
    margin: 0;
    padding: 0 0 1%;
  }

  p { 
    margin: 0;
  }

  .row {
    display: flex;

    .column {
      flex: 1;
      margin: 1%;
      padding: 2%;
      background-color: $color-white;
      border-radius: 40px;
    }
  }
}

// BUTTONS
.text-button {
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  @include button-styling($color-black, $color-pink-bg, $color-white, $color-pink);
}

.arrow-button {
  position: absolute;
  height: 100%;
  width: 100%;
  @include button-styling($color-black, $color-none, $color-white, $color-green);

  @media (max-width:430px) {
    position: relative;
    width: 50%;
    @include button-styling($color-black, $color-none, $color-black, $color-none);
  }
}

.image-button {
  height: 100%;
  width: 100%;
  @include button-styling($color-none, $color-none, $color-none, $color-none);
}

// FOOTER
footer {
  background-color: $color-green;
  color: $color-white;
  text-align: center;

  p {
    padding: 1%;
    margin: 0;
  }
}