@use "colors";
@use "mixins" as mixin;
@use "placeholders";

@font-face {
  font-family: SundayHotdog;
  src: url("../media/SundayHotdog.ttf");
}

* {
  transition: all 0.5s ease;
}

html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

// HEADER
header {
  @extend %margin-padding-0;
}

#header {
  position: fixed;
  width: 100vw;
  height: 150px;
  z-index: 10;

  #header-color {
    height: 50px;
  }

  #navigation {
    @include mixin.flexbox(row, flex-start, center);
    height: 100px;

    #title {
      flex: 1;
      margin-left: 10%;

      h1 {
        margin: 0;

        a {
          font-size: 30px;
          color: colors.$color-black;
          text-decoration: none;
        }
      }

      @media (max-width: 810px) {
        margin-left: 0;
        text-align: center;
      }
    }

    #pages {
      flex: 1;

      a {
        font-size: 20px;
        text-decoration: none;
        padding-left: 20px;
      }

      @media (max-width: 810px) {
        display: none;
      }
    }
  }
}

.whiteheader {
  #header-color {
    background-color: colors.$color-green;
  }

  #navigation {
    background-color: colors.$color-white;
    box-shadow: 0 8px 10px colors.$color-black-bg;

    #pages,
    #pages-mobile {
      text-align: right;
      margin-right: 10%;

      a {
        color: colors.$color-black;
      }
    }
  }
}

.transparentheader {
  #header-color {
    background-color: colors.$color-none;
  }

  #navigation {
    background-color: colors.$color-none;
    box-shadow: unset;

    #title {
      display: none;
    }

    #pages,
    #pages-mobile {
      text-align: center;
      margin: 0;

      a {
        color: colors.$color-white;
        padding: 0 10px;
      }
    }
  }
}

#headerbig {
  height: 100vh;

  .video {
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}

.sticktotop {
  position: absolute;
  top: 0;
}

// BODY
body {
  @extend %margin-padding-0;

  >div {
    @include mixin.flexbox(column, flex-start, stretch);
    min-height: 100vh;
  }
}

h1,
button,
a {
  font-family: 'SundayHotdog';
}

h2,
p {
  font-family: 'Nunito', sans-serif;
}

p,
button,
a {
  font-size: 16px;
}

.textlink {
  font-family: 'Nunito', sans-serif;
  text-decoration: underline;
  color: colors.$color-green-dark;
}

main {
  flex: 1;

  .margin10 {
    margin: 0 10%;
  }
}

#introduction {
  display: flex;
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 25vh;

  .empty {
    flex: 1;
  }

  .intro-image {
    flex: 2;

    img {
      height: 50vh;
      border-radius: 50%;
      border-style: solid;
      border-color: colors.$color-white;
      border-width: 10px;
      margin: -10px;
    }
  }

  .intro-text {
    flex: 3;
    color: colors.$color-white;
    padding-left: 5vw;
    align-self: center;

    h1,
    h2 {
      margin: 0;
    }

    h1 {
      font-size: 96px;
    }
  }

  @media (max-width:1125px) {
    height: 40vh;
    top: 30vh;

    .intro-image {
      img {
        height: 40vh;
      }
    }

    .intro-text {
      h1 {
        font-size: 80px;
      }
    }
  }

  @media (max-width:915px) {
    height: 30vh;
    top: 35vh;

    .intro-image {
      img {
        height: 30vh;
      }
    }

    .intro-text {
      h1 {
        font-size: 70px;
      }
    }
  }

  @media (max-width: 810px) {
    @include mixin.flexbox(column, space-between, center);
    height: 100vh;
    top: 0;

    .empty {
      flex: 3;
    }

    .intro-image {
      flex: 1;
      align-self: center;

      img {
        height: auto;
        width: 50vw;
      }
    }

    .intro-text {
      flex: 2;
      @include mixin.flexbox(column, flex-end, center);
      padding: 0;
      text-align: center;

      h1 {
        font-size: 50px;
      }
    }
  }

  @media (max-width: 500px) {
    .intro-image {
      img {
        width: 60vw;
        border-width: 7px;
        margin: -7px;
      }
    }

    .intro-text {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}

.chev-down {
  display: block;
  position: absolute;
  top: 95vh;
  left: 48vw;
  height: 3vh;
  width: 4vw;
  text-align: center;

  a {
    @include mixin.button(colors.$color-white, colors.$color-none, colors.$color-white, colors.$color-none);
  }

  @media (max-width: 810px) {
    display: none;
  }
}

.about-section {
  padding: 3% 10%;
  display: flex;

  @media (max-width: 810px) {
    flex-direction: column;
  }

  .info {
    flex: 3;
    margin-right: 5%;

    .languages {
      @include mixin.flexbox(row, center, stretch);
      flex-wrap: wrap;

      i {
        color: colors.$color-pink;
        font-size: 50px;
        margin: 1%;
      }
    }
  }

  .profile {
    flex: 1;
    @include mixin.flexbox(column, flex-start, stretch);
    background-color: colors.$color-pink-bg;
    border-radius: 10px;
    padding: 2%;

    @media (max-width: 810px) {
      flex-direction: row;
    }

    .profile-name {
      flex: 1;
      padding: 2%;
      text-align: center;

      h1 {
        margin: 0;
      }

      @media (max-width: 810px) {
        display: none;
      }
    }

    .profile-pic {
      flex: 1;
      padding: 2%;

      img {
        background-color: colors.$color-white;
        padding: 2%;
        width: 96%;

        @media (max-width: 810px) {
          height: 96%;
          object-fit: cover;
        }
      }

      @media (max-width: 610px) {
        display: none;
      }
    }

    .profile-text {
      flex: 1;
      padding: 2%;

      p {
        margin: 0;
      }
    }
  }
}

#projects {
  background-color: colors.$color-green-bg;
}

.projects-section {
  padding: 0 10% 1%;

  @media (max-width: 810px) {
    padding: 3% 10%;
  }

  h1 {
    text-align: center;
    margin: 0;
    padding: 2% 0 1%;

    @media (max-width: 810px) {
      padding: 0 0 3%;
    }
  }

  .row {
    display: flex;

    .column {
      flex: 1;
      @include mixin.flexbox(column, space-between, stretch);
      margin: 1%;
      padding: 2%;
      background-color: colors.$color-white;
      border-radius: 10px;
      
      h2 {
        text-align: center;
        margin: 0;
        padding: 2% 0 1%;
      }

      p {
        margin: 0 0 2%;
        padding: 2%;
      }

      img {
        width: 96%;
        padding: 2%
      }

      a {
        align-self: center;

        i {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 810px) {
      flex-direction: column;
    }
  }
}

.project-section {
  padding: 0 10%;
  margin-top: 200px;

  h1 {
    text-align: center;
  }

  .info {
    display: flex;

    @media (max-width: 810px) {
      flex-direction: column;
    }

    >div {
      flex: 1;

      margin-bottom: 10px;

      img {
        padding: 1% 0 1% 1%;
      }
    }
  }

  img {
    width: 100%;
  }
}

.contact-section {
  padding: 3% 10%;
  text-align: center;

  .icons {
    @include mixin.flexbox(row, center, stretch);

    a {
      @include mixin.flexbox(row, center, center);
      width: 50px;
      height: 50px;
      margin: 0 10px;
      border-radius: 50%;
      @include mixin.button(colors.$color-black, colors.$color-pink-bg, colors.$color-white, colors.$color-pink);
    }
  }
}

// BUTTONS
.text-button {
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  @include mixin.button(colors.$color-black, colors.$color-pink-bg, colors.$color-white, colors.$color-pink);
}

// FOOTER
footer {
  background-color: colors.$color-green;
  color: colors.$color-white;
  text-align: center;

  p {
    padding: 1%;
    margin: 0;
  }
}